@import './normalize.css';


/*------------------------------------*\
    #Reset
\*------------------------------------*/

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -o-font-smoothing: antialiased;
  box-sizing: border-box;
}

/* Reset margins and padding */
dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, p, blockquote, th, td {
  margin: 0;
  padding: 0;
  line-height: var(--line-height-normal);
}

/* Typography resets */
h1, h2, h3, h4, h5, h6 {
  font-weight: 300;
}

/* List resets */
li, ul {
  list-style: none;
}

/* Table resets */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* Form element resets */
fieldset, img {
  border: 0;
}

address, caption, cite, dfn, th, var {
  font-style: normal;
  font-weight: normal;
}

caption, th {
  text-align: left;
}

/* Quote resets */
q:before, q:after {
  content: '';
}

/* Abbreviation resets */
abbr, acronym {
  border: 0;
}

/* Summary element resets */
summary {
  cursor: pointer;
  list-style: none;
}

summary::-webkit-details-marker,
summary::before {
  display: none;
}

/* Utility classes */
.visually-hidden {
  position: fixed !important;
  z-index: -9999;
  opacity: 0 !important;
  pointer-events: none !important;
}

.responsive-image {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/*------------------------------------*\
    #Animations
\*------------------------------------*/

:root {
  --duration-short: 100ms;
  --duration-default: 200ms;
  --duration-medium: 300ms;
  --duration-long: 600ms;
}

@media (prefers-reduced-motion) {
  .motion-reduce {
    transition: none !important;
  }
}



/*------------------------------------*\
    #Typography
\*------------------------------------*/


:root {
  font-size: 1rem; 
}

@font-face {
  font-family: 'Mabry';
  src: url('./mabry-regular-pro.woff2') format('woff2'),
       url('./mabry-regular-pro.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Mabry';
  src: url('./mabry-medium-pro.woff2') format('woff2'),
       url('./mabry-medium-pro.woff') format('woff');
  font-weight: 500;
  font-style: normal; 
  font-display: swap;
}

@font-face {
  font-family: 'Mabry';
  src: url('./mabry-bold-pro.woff2') format('woff2'),
       url('./mabry-bold-pro.woff') format('woff');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}




/*------------------------------------*\
    #Headlines
\*------------------------------------*/

h1, h2, h3, h4, h5, h6 {
  margin-bottom: 1rem;
  line-height: var(--headline-line-height);

}

h1 p, 
h2 p, 
h3 p, 
h4 p, 
h5 p, 
h6 p {
  line-height: var(--headline-line-height)
}

.headline-style-display {
  font-family: var(--headline-font-family);
  font-weight: var(--headline-font-weight);
  font-size: var(--headline-size-display);
  margin-bottom: var(--space-7);
  line-height: var(--headline-line-height);
}


.headline-style-h1 {
  font-family: var(--headline-font-family);
  font-weight: var(--headline-font-weight);
  font-size: var(--headline-size-h1); 
  margin-bottom: var(--space-6);
  line-height: var(--headline-line-height);
}

.headline-style-h2 {
  font-family: var(--headline-font-family);
  font-weight: var(--headline-font-weight);
  font-size: var(--headline-size-h2); 
  margin-bottom: var(--space-6);

}

.headline-style-h3 {
  font-family: var(--headline-font-family);
  font-weight: var(--headline-font-weight);
  font-size: var(--headline-size-h3); 
  margin-bottom: var(--space-5);
}

.headline-styleh-h4 {
  font-family: var(--headline-font-family);
  font-weight: var(--headline-font-weight);
  font-size: var(--headline-size-h4); 
  margin-bottom: var(--space-5);
}

.headline-style-h5 {
  font-family: var(--headline-font-family);
  font-weight: var(--headline-font-weight);
  font-size: var(--headline-size-h5); 
  margin-bottom: var(--space-5);
}

.heafing-style-h6 {
  font-family: var(--headline-font-family);
  font-weight: var(--headline-font-weight);
  font-size: var(--headline-size-h6); 
  margin-bottom: var(--space-4);
}

.text-size-x-large {
  font-family: var(--text-font-family);
  font-weight: 400;
  font-size: var(--text-size-x-large); 
  letter-spacing: var(--text-letter-spacing);
  line-height: var(--text-line-height);
}

.text-size-large {
  font-family: var(--text-font-family);
  font-weight: 400;
  font-size: var(--text-size-large); 
  letter-spacing: var(--text-letter-spacing);
  line-height: var(--text-line-height);
}

.text-size-medium {
  font-family: var(--text-font-family);
  font-weight: 400;
  font-size: var(--text-size-medium);
  letter-spacing: var(--text-letter-spacing);
  line-height: var(--text-line-height);
}

.text-size-main {
  font-family: var(--text-font-family);
  font-weight: 400;
  font-size: var(--text-size-main);
  letter-spacing: var(--text-letter-spacing);
  line-height: var(--text-line-height);
}

.text-size-small {
  font-family: var(--text-font-family);
  font-weight: 400;
  font-size: var(--text-size-small);
  letter-spacing: var(--text-letter-spacing);
  line-height: var(--text-line-height);
}

.text-size-tiny {
  font-family: var(--text-font-family);
  font-weight: 400;
  font-size: var(--text-size-tiny);
  letter-spacing: var(--text-letter-spacing);
  line-height: var(--text-line-height);
}

h1 p, h2 p, h3 p, h4 p, h5 p, h6 p {
  margin-bottom: 0; 
}





/*------------------------------------*\
    #Default Text Selection Color 
\*------------------------------------*/

::selection {
  background-color: rgb(var(--color-base-background-2));
  color: rgb(var(--color-base-text-1));
}

::-moz-selection {
  background-color: rgb(var(--color-base-background-2));
  color: rgb(var(--color-base-text-1));
}


body {
  font-family: var(--text-font-family);
  font-size: var(--text-size-main);
  font-display: fallback;
  color: rgb(var(--color-base-text-1));
}


/*------------------------------------*\
    #Paragraphs
\*------------------------------------*/

p {
  margin-bottom: 1.5rem;
  line-height: 1.6;
}

.screen-readers-only {
  opacity: 0;
  z-index: -100;
  left: -999;
  position: fixed;
}

/*------------------------------------*\
    #Links
\*------------------------------------*/

a {
  color: rgb(var(--color-base-text));
}


/*------------------------------------*\
    #Containers
\*------------------------------------*/


.container-large {
  max-width: var(--max-width-large);
  width: 100%;
  margin: auto; 
  padding-left: var(--container-padding);
  padding-right: var(--container-padding);
}

.container-main {
  max-width: var(--max-width-medium);
  width: 100%;
  margin: auto; 
  padding-left: var(--container-padding);
  padding-right: var(--container-padding);
}

.container-small {
  max-width: var(--max-width-small);
  width: 100%;
  margin: auto; 
  padding-left: var(--container-padding);
  padding-right: var(--container-padding);
}

.container-x-small {
  max-width: var(--max-width-x-small);
  width: 100%; 
  margin: auto; 
  padding-left: var(--container-padding);
  padding-right: var(--container-padding);
}


/*------------------------------------*\
    #Sections
\*------------------------------------*/

.section-padding-x-small {
  padding-top: var(--section-padding-x-small);
  padding-bottom: var(--section-padding-x-small);
}

.section-padding-small {
  padding-top: var(--section-padding-small);
  padding-bottom: var(--section-padding-small);
}

.section-padding-main {
  padding-top: var(--section-padding-main);
  padding-bottom: var(--section-padding-main);
}

.section-padding-large {
  padding-top: var(--section-padding-large);
  padding-bottom: var(--section-padding-large);
}


/*------------------------------------*\
    #Paddings
\*------------------------------------*/

.padding-x-small {
  padding: var(--padding-x-small);
}

.padding-small {
  padding: var(--padding-small);
}

.padding-main {
  padding: var(--padding-main);
}

.padding-large {
  padding: var(--padding-large);
}

.padding-x-large {
  padding: var(--padding-x-large);
}

/*------------------------------------*\
  #Overflows Hiding
\*------------------------------------*/

.overflow-hidden-mobile,
.overflow-hidden-tablet,
.overflow-hidden {
  overflow: hidden;
}

/*------------------------------------*\
    #Visibility
\*------------------------------------*/

.show-for-medium-up {
  display: none;
}

@media only screen and (min-width: 700px) {
  .show-for-medium-up {
    display: block;
  }
  
  .hide-for-medium-up {
    display: none;
  }
}

.show-for-large-up {
  display: none;
}

.hide-for-large-up {
  display: block;
}

@media only screen and (min-width: 940px) {
  .show-for-large-up {
    display: block;
  }
  
  .hide-for-large-up {
    display: none;
    pointer-events: none;
  }
}

.hidden {
  display: none;
}

.visually-hidden {
  opacity: 0;
  position: fixed !important;
  top: 0;
  left: -99999;
}

.no-js:not(html) {
  display: none !important;
}

html.no-js .no-js:not(html) {
  display: block !important;
}

.no-js-inline {
  display: none !important;
}

html.no-js .no-js-inline {
  display: inline-block !important;
}

html.no-js .no-js-hidden {
  display: none !important;
}

/* Hide empty elements */
a:empty,
ul:empty,
dl:empty,
section:empty,
article:empty,
p:empty,
h1:empty,
h2:empty,
h3:empty,
h4:empty,
h5:empty,
h6:empty {
  display: none;
}

[aria-disabled='true'] {
  pointer-events: none;
  cursor: normal;
}

/*------------------------------------*\
    #Main Padding + Margin Top
\*------------------------------------*/

main {
  min-height: calc(70vh - 300px);
  position: relative;
}

.master-padding-top {
  padding-top: var(--level6);
}

@media screen and (min-width: 940px) {
  .master-padding-top {
    padding-top: var(--level7);
  }
}

/*------------------------------------*\
    #Page Width Container
\*------------------------------------*/

:root {
  --max-width-x-small: 70rem;
  --max-width-small: 85rem;
  --max-width-medium: 98rem;
  --max-width-large: 125rem;
  --max-width-xlarge: 130rem;
}

.page-width {
  max-width: var(--max-width-medium);
  margin: 0 auto;
  padding: 0 var(--level4);
  width: 100%;
  position: relative;
}

.page-width.is-full-width {
  padding: 0 !important;
}

@media screen and (min-width: 700px) {
  .page-width {
    padding: 0 var(--level8);
  }
}

@media screen and (min-width: 940px) {
  .page-width {
    max-width: var(--max-width-medium);
    margin: 0 auto;
  }

  .page-width.is-small {
    max-width: var(--max-width-small);
  }

  .page-width.is-x-small {
    max-width: var(--max-width-x-small);
  }

  .page-width.is-full {
    max-width: 100%;
  }

  .is-large {
    max-width: var(--max-width-large);
  }

  .page-width.is-xlarge {
    max-width: var(--max-width-xlarge);
  }

  .page-width-on-medium-up {
    padding: 0 var(--level8);
    max-width: var(--max-width-large);
    margin: 0 auto;
  }
}

/*------------------------------------*\
    #Media Component
\*------------------------------------*/

.media {
  display: block;
  background-color: rgba(var(--color-base-background-2), 0.5);
  position: relative;
  overflow: hidden;
}

.media--transparent {
  background-color: transparent;
}

.media > *:not(.zoom):not(.deferred-media__poster-button),
.media model-viewer,
.media img {
  display: block;
  max-width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

.media > img {
  object-fit: cover;
  object-position: center;
}

deferred-media {
  display: block;
}

/* Media aspect ratios */
.media--square {
  padding-bottom: 100%;
}

.media--portrait {
  padding-bottom: 152%;
}

.media--landscape {
  padding-bottom: 66.6%;
}

.media--cropped {
  padding-bottom: 56%;
}

.media--16-9 {
  padding-bottom: 56.25%;
}

.media--circle {
  padding-bottom: 100%;
  border-radius: 50%;
}

/*------------------------------------*\
    #Summary + Details Base
\*------------------------------------*/

summary {
  cursor: pointer;
  list-style: none;
  position: relative;
}

summary .icon-caret {
  position: absolute;
  height: 0.6rem;
  right: 1.5rem;
  top: calc(50% - 0.2rem);
}

summary::-webkit-details-marker {
  display: none;
}

/*------------------------------------*\
    #Disclosure
\*------------------------------------*/

.disclosure-has-popup {
  position: relative;
}

.disclosure-has-popup[open] > summary::before {
  position: fixed;
  inset: 0;
  z-index: 2;
  display: block;
  cursor: default;
  content: ' ';
  background: transparent;
}

.disclosure-has-popup > summary::before {
  display: none;
}

.disclosure-has-popup[open] > summary + * {
  z-index: 100;
}

@media screen and (min-width: 700px) {
  .disclosure-has-popup[open] > summary + * {
    z-index: 4;
  }

  .facets .disclosure-has-popup[open] > summary + * {
    z-index: 2;
  }
}




/*------------------------------------*\
  #Buttons 
\*------------------------------------*/

button,
.button {
  align-items: center;
  display: inline-block;
  font-family: var(--primary-font-family);
  font-weight: var(--button-font-weight);
  justify-content: center;
  line-height: 1;
  margin: 0 0 var(--level3) 0;
  position: relative;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  color: rgb(var(--color-base-text-1));
  text-transform: uppercase;
  border-radius: 100vw;
  letter-spacing: var(--button-letter-spacing);
}

button:hover,
.button:hover {
  cursor: pointer;
  text-decoration: none;
}

.button__inner {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: center;
}

.button__icon {
  margin-left: calc(var(--level2) * 1rem);
  width: 1.5rem;
  height: 1.5rem;
}

.button__icon svg {
  width: 100%;
  height: 100%;
}

/* Button Styles */
.button--primary {
  border: 2px solid rgb(var(--color-button-primary-border));
  background-color: rgb(var(--color-button-primary-background));
  color: rgb(var(--color-button-primary-text));
}

.button--primary:focus,
.button--primary:hover {
  background-color: rgb(var(--color-button-primary-border));
  background-color: rgb(var(--color-button-primary-text));
  color: rgb(var(--color-button-primary-background));
}

.button--secondary {
  background-color: rgb(var(--color-button-secondary-border));
  border: 2px solid transparent;
  color: rgb(var(--color-button-secondary-text));
  background-color: rgb(var(--color-button-secondary-background));
}

.button--secondary:focus,
.button--secondary:hover {
  border-color: rgb(var(--color-button-secondary-border));
  background-color: rgb(var(--color-button-secondary-text));
}

/* Button Sizes */
.button--small {
  padding: var(--space-3);
  padding-left: var(--space-4);
  padding-right: var(--space-4);
 font-size: var(--text-size-tiny);
}

.button--medium {
  padding: var(--space-4);
  padding-left: var(--space-4);
  padding-right: var(--space-4);
 font-size: var(--text-size-main);
}

.button--large{
 font-size: var(--text-size-large);
 padding: var(--space-4);
 padding-left: var(--space-5);
 padding-right: var(--space-5);
}



/*------------------------------------*\
  #Global Loader
\*------------------------------------*/


.loader {
  width: 50px;
  aspect-ratio: 1;
  border-radius: 50%;
  padding: 6px;
  background:
    radial-gradient(farthest-side at bottom left, #0000 calc(100% - 6px), currentColor calc(100% - 5px) 99%, #0000) top right/50% 50% content-box content-box,
    radial-gradient(farthest-side at top, #0000 calc(100% - 6px), currentColor calc(100% - 5px) 99%, #0000) bottom /100% 50% content-box content-box;
  background-repeat: no-repeat;
  animation: l11 1s infinite linear;
}

@keyframes l11 {
  100% {
    transform: rotate(1turn)
  }
}


.loading__spinner {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.loading__spinner.hidden {
  display: none;
}


.swym-notification-wishlist .swym-emphasis {
  font-family: var(--secondary-font-family) !important;
  text-transform: uppercase !important  ;
  font-weight: 300 !important;
  font-size: var(--h6) !important;
}



.shopify-policy__title {
  text-align: center; 
  text-transform: uppercase; 
  margin-bottom: var(--level8);
  font-family: var(--secondary-font-family);
}

@media screen and (min-width: 700px) {
  .shopify-policy__title {
    font-size: var(--h6); 
  }
}

.shopify-policy__body {
  min-height: 50vh;
  text-align: left; 
}

.shopify-policy__container {    
  max-width: var(--max-width-x-small); 
  margin-top: var(--level8);
}


.shopify-policy__body {
  margin-bottom: calc(var(--level10) * 3);
}

@media screen and (min-width: 700px) {
  .shopify-policy__body {
    font-size: var(--h6);
    
  }
}
.shopify-policy__body h1,
.shopify-policy__body h2,
.shopify-policy__body h3,
.shopify-policy__body strong {
  
  font-family: var(--tertiary-font-family);
  font-weight: 300;
  font-size: var(--normal);
  margin-bottom: var(--level1);
  display: inline-block;
}





/* DISPLAY UTILS*/
/* -------------------------------*/
.overflow-hidden { overflow: hidden; }
.width-fit-content { width: fit-content; }
.width-full { width: 100%; }

.d-block { display: block !important;}
.d-inline-block { display: inline-block;}

.d-flex { display: flex; }

.flex-align-center {
  align-items: center;
}

.flex-justify-center {
  justify-content: center;
}

.flex-justify-start {
  justify-content: flex-start;
}

.flex-justify-space-between {
  justify-content: space-between;
}

@media (min-width: 1440px) {
  .flex-xl-justify-space-between {
    justify-content: space-between;
  }
}

.flex-wrap {
  flex-wrap: wrap;
}

@media (min-width: 768px) {
  .d-md-flex-row {
    display: flex;
    flex-direction: row;
  }

  .d-md-flex-column {
    display: flex;
    flex-direction: column;
  }

  .d-md-flex-row-reverse {
    display: flex;
    flex-direction: row-reverse;
  }
}

@media (min-width: 960px) {
  .d-mlg-flex-row {
    display: flex;
    flex-direction: row;
  }

  .d-mlg-flex-row-reverse {
    display: flex;
    flex-direction: row-reverse;
  }
}

@media (min-width: 1024px) {
  .d-lg-flex-row {
    display: flex;
    flex-direction: row;
  }

  .d-lg-flex-row .hero-section {
    min-height: 560px;
  }

  .flex-lg-align-items-center {
    align-items: center;
  }
}

@media (min-width: 1440px) {
  .d-lg-flex-row .feature-lg-section-half {
    min-height: 38.889vw;
  }
}

.d-flex-column {
  display: flex;
  flex-direction: column;
}

.d-flex-column-start {
  justify-content: space-between;
}

.flex-align-self-end {
  align-self: flex-end;
}


/* Grid columns */
@media (min-width: 768px) {
  .col-md-6 { width: 50%; }
}

@media (min-width: 960px) {
  .col-mlg-3 { width: 33.3333%; }
  .col-mlg-4 { width: 33.3333%; }
  .col-mlg-6 { width: 50%; }
  .col-mlg-7 { width: 58.33%; }
  .col-mlg-8 { width: 66.6666%; }
  .col-mlg-10 { width: 83.3333%; }
}

@media (min-width: 1024px) {
  .col-mlg-3 { width: 25%; }
  .col-lg-4 { width: 33.3333%; }
  .col-lg-6 { width: 50%; }
  .col-lg-7 { width: 58.33%; }
  .col-lg-8 { width: 66.6666%; }
}


@media (min-width: 768px) {
  .mr-md-col-1 { margin-right: 8.333% !important; }
}



/* SPACING UTILS*/
/* -------------------------------*/
.mx-auto {
  margin-right: auto;
  margin-left: auto;
}

.mt-16 { margin-top: 16px; }
.mt-24 { margin-top: 24px; }
.mt-32 { margin-top: 32px; }
.mt-40 { margin-top: 40px;}
.mt-60 { margin-top: 60px;}
.mt-72 { margin-top: 72px; }

.mr-4 { margin-right: 4px; }
.mr-12 { margin-right: 12px; }
.mr-16 { margin-right: 16px; }
.mr-40 { margin-right: 40px; }

.ml-12 { margin-left: 12px; }

.mx-6 { margin-right: 6px;
        margin-left: 6px; }
.my-24 { margin-top: 24px;
          margin-bottom: 24px; }
.my-64 { margin-top: 64px;
          margin-bottom: 64px; }
.my-80 { margin-top: 80px;
          margin-bottom: 80px; }

.mb-4 { margin-bottom: 4px; }
.mb-12 { margin-bottom: 12px; }
.mb-16 { margin-bottom: 16px; }
.mb-24 { margin-bottom: 24px; }
.mb-32 { margin-bottom: 32px; }
.mb-40 { margin-bottom: 40px; }
.mb-60 { margin-bottom: 60px; }

.p-0 { padding: 0 !important; }
.p-40 { padding: 40px; }

.pb-4 { padding-bottom: 4px; }

.px-24 { padding-right: 24px;
         padding-left: 24px; }
.py-12 {  padding-top: 12px;
        padding-bottom: 12px; }
.py-16 {  padding-top: 16px;
         padding-bottom: 16px; }
.py-40 {  padding-top: 40px;
          padding-bottom: 40px; }

@media (min-width: 768px) {
  .mt-md-16 { margin-top: 16px; }
  .mt-md-32 { margin-top: 32px; }
  .mb-md-64 { margin-bottom: 64px; }
  .my-md-80 { margin-top: 80px;
            margin-bottom: 80px; }
  .my-md-120 { margin-top: 120px;
            margin-bottom: 120px; }
}

@media (min-width: 960px) {
  .mt-mlg-0 { margin-top: 0 !important; }
}

@media (min-width: 1024px) {
  .mt-lg-0 { margin-top: 0; }
  .mt-lg-96 { margin-top: 96px; }
  .mt-lg-120 { margin-top: 120px; }
  .mb-lg-0 { margin-bottom: 0 !important; }
  .p-lg-40 { padding: 40px; }
  .py-lg-80 {  padding-top: 80px !important;
            padding-bottom: 80px !important; }
  .p-lg-0 { padding: 0 !important; }
}

@media (min-width: 1440px) {
  .mt-16 { margin-top: 1.111vw; }
  .mt-24 { margin-top: 1.667vw; }
  .mt-32 { margin-top: 2.222vw; }
  .mt-40 { margin-top: 2.778vw;}
  .mt-60 { margin-top: 4.167vw;}
  .mt-72 { margin-top: 5vw; }

  .mt-md-16 { margin-top: 1.111vw; }
  .mt-md-32 { margin-top: 2.222vw; }

  .mt-lg-0 { margin-top: 0 !important; }
  .mt-lg-96 { margin-top: 6.667vw; }
  .mt-lg-120 { margin-top: 8.333vw; }

  .mr-4 { margin-right: 0.278vw; }
  .mr-12 { margin-right: 0.833vw; }
  .mr-16 { margin-right: 1.111vw; }
  .mr-40 { margin-right: 2.778vw; }

  .ml-12 { margin-left: 0.833vw; }

  .mb-4 { margin-bottom: 0.278vw; }
  .mb-12 { margin-bottom: 0.833vw; }
  .mb-16 { margin-bottom: 1.111vw; }
  .mb-24 { margin-bottom: 1.667vw; }
  .mb-32 { margin-bottom: 2.222vw; }
  .mb-40 { margin-bottom: 2.778vw;}
  .mb-60 { margin-bottom: 4.167vw; }
  .mb-md-64 { margin-bottom: 4.444vw; }

  .mx-6 { margin-right: 0.417vw;
          margin-left: 0.417vw; }
  .my-24 { margin-top: 1.667vw;
            margin-bottom: 1.667vw; }
  .my-64 { margin-top: 4.444vw;
            margin-bottom: 4.444vw; }
  .my-80 { margin-top: 5.556vw;
            margin-bottom: 5.556vw; }
  .my-md-80 { margin-top: 5.556vw;
            margin-bottom: 5.556vw; }
  .my-md-120 { margin-top: 8.333vw;
            margin-bottom: 8.333vw; }

  .pb-4 { padding-bottom: 0.278vw; }

  .p-lg-40 { padding: 2.778vw; }

  .px-24 { padding-right: 1.667vw;
           padding-left: 1.667vw; }
  .py-12 {  padding-top: 0.833vw;
          padding-bottom: 0.833vw; }
  .py-16 {  padding-top: 1.111vw;
          padding-bottom: 1.111vw; }
  .py-40 {  padding-top: 2.778vw;
            padding-bottom: 2.778vw; }
  .py-lg-80 {  padding-top: 5.556vw !important;
            padding-bottom: 5.556vw !important; }
}

.p-40-gutters { padding: 24px; }
.px-40-gutters { padding-right: 24px; padding-left: 24px; }
.mb-32-gutters { margin-bottom: 24px; }
.mb-40-gutter { margin-bottom: 24px; }

@media (min-width: 768px) {
  .p-40-gutters { padding: 40px; }
  .px-40-gutters { padding-right: 40px; padding-left: 40px; }
  .mb-32-gutters { margin-bottom: 32px; }
  .mb-40-gutter { margin-bottom: 40px; }
}

@media (min-width: 1440px) {
  .p-40-gutters { padding: 4.167vw; }
  .px-40-gutters { padding-right: 4.167vw; padding-left: 4.167vw; }
  .mb-32-gutters { margin-bottom: 2.222vw; }
  .mb-40-gutter { margin-bottom: 4.167vw; }
}


/* Column based margins & padding */
@media(min-width: 1024px) {
  .pl-lg-col-1 { padding-left: 8.333%; }

  .pr-lg-col-1 { padding-right: 8.333%; }
}



.brand-sticker {
  max-width: 10rem; 
  max-height: 10rem; 
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1;
  width: 100%; 
  height: 100%; 
}