
/*------------------------------------*\
    #Cards
\*------------------------------------*/

.card {
    background-color: rgb(var(--color-base-background-2));
  }
  
  .card__heading {
    margin-bottom: var(--level4); 
    font-weight: 300;
  }
  
  .card__heading  p {
    margin-bottom: 0; 
  }
  
  .card__inner {
    padding: var(--level6);
  }
  
  .card {
    background-color: rgb(var(--color-base-background-1));
  }
  
  .card.is-alt {
    background-color: rgb(var(--color-base-background-2));
  }
  
  .card.is-alt-2 {
    background-color: rgb(var(--color-base-background-2));
  }
  