/*------------------------------------*\
    #Price
\*------------------------------------*/

.price {
  font-size: var(--text-size-main);
  color: inherit;
  display: flex; 
  flex-direction: row;
  font-family: var(--headline-font-family);
  font-weight: var(--headline-font-weight);
}

.price > * {
  display: inline-block;
  vertical-align: top;
}

.price .price-item {
  margin: 0 var(--space-1) 0 0;
}

.price__regular .price-item--regular {
  margin-right: 0;
}

.price:not(.price--show-badge) .price-item--last:last-of-type {
  margin: 0;
}





/*------------------------------------*\
    #Price Classes
\*------------------------------------*/

.price--large {
  font-size: var(--text-size-large);
}

.price--center {
  display: initial;
  justify-content: center;
}





/*------------------------------------*\
    #Price States
\*------------------------------------*/

.price--sold-out {
  /*color: rgb(var(--color-link));*/
}

.price--sold-out .price__availability,
.price__regular {
  display: block;
}

.price__sale,
.price__availability,
.price .price__badge-sale,
.price .price__badge-sold-out,
.price--on-sale .price__regular,
.price--on-sale .price__availability {
  display: none;
}

.price--sold-out .price__badge-sold-out,
.price--on-sale .price__badge-sale {
  display: inline-block;
}

.price--on-sale .price__sale {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.price--on-sale .price-item--regular {
  text-decoration: line-through;
  color: rgba(var(--color-base-text-1), 0.75);
}

.unit-price {
  display: block;
  font-size: var(--text-size-tiny);
  letter-spacing: var(--text-letter-spacing);
  line-height: var(--text-line-height);
  margin-top: var(--space-1);
  text-transform: uppercase;
  color: rgba(var(--color-base-text-1), 0.7);
}

.price.price--unavailable {
  visibility: hidden;
}

.price--end {
  text-align: right;
}
