/*------------------------------------*\
    #Cart Items
\*------------------------------------*/

.cart-items td,
.cart-items th {
  padding: 0;
  border: none;
}

.cart-items th {
  text-align: left;
  padding-bottom: var(--space-5);
  opacity: 0.85;
  font-weight: normal;
}

.cart-item__quantity-wrapper {
  display: flex;
}

.cart-item__totals {
  position: relative;
}

.cart-items *.right {
  text-align: right;
}

.cart-item__image-container {
  display: inline-flex;
  align-items: flex-start;
  border-radius: var(--border-radius-small);
  overflow: hidden;
}

.cart-item__image-container:after {
  content: none;
}

.cart-item__image {
  height: auto;
}

@media screen and (min-width: 750px) {
  .cart-item__image {
    max-width: 100%;
  }
}

.cart-item__details {
  font-size: var(--text-size-main);
}

.cart-item__details > * {
  margin: 0;
  max-width: 30rem;
}

.cart-item__details > * + * {
  margin-top: var(--space-2);
}

.cart-item__details .loading-spinner {
  max-width: 100%;
}

.cart-item__media {
  position: relative;
}

.cart-item__link {
  display: block;
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

.cart-item__name {
  text-decoration: none;
  display: block;
}

.cart-item__name:hover {
  text-decoration: underline;
  text-underline-offset: var(--space-1);
  text-decoration-thickness: 1px;
}

.cart-item__price-wrapper > * {
  display: block;
  margin: 0;
  padding: 0;
}

.cart-item__discounted-prices dd {
  margin: 0;
}

.cart-item__discounted-prices .cart-item__old-price {
  font-size: var(--text-size-small);
}

.cart-item__old-price {
  opacity: 0.7;
}

.cart-item__final-price {
  font-weight: 400;
}

.product-option {
  font-size: var(--text-size-small);
  word-break: break-all;
  line-height: calc(1 + 0.5 / var(--font-body-scale));
}

.cart-item cart-remove-button {
  display: flex;
  margin-left: var(--space-4);
}

/* @media screen and (min-width: 750px) and (max-width: 939px) {
  .cart-item cart-remove-button {
    width: 4.5rem;
    height: 4.5rem;
  }
} */

cart-remove-button .button {
  padding: 0;
  margin: 0 0.1rem 0.1rem 0;
}

cart-remove-button button:hover,
cart-remove-button button:focus {
}

cart-remove-button .button:before,
cart-remove-button .button:after {
  content: none;
}

cart-remove-button .button:not([disabled]):hover {
  color: rgb(var(--color-foreground));
}

@media screen and (min-width: 750px) {
  cart-remove-button .button {
    min-width: 3.5rem;
    min-height: 3.5rem;
  }
}

cart-remove-button .icon-remove {
  height: 1.5rem;
  width: 1.5rem;
}

.cart-item .loading-overlay {
  top: 0;
  left: auto;
  right: auto;
  bottom: 0;
  padding: 0;
}

@media screen and (min-width: 750px) {
  .cart-item .loading-overlay {
    right: 0;
    padding-top: var(--space-8);
    bottom: auto;
  }
}

.cart-item .loading-overlay:not(.hidden) ~ * {
  visibility: hidden;
}

.cart-item__error {
  display: flex;
  align-items: flex-start;
  margin-top: var(--space-4);
}

.cart-item__error-text {
  font-size: var(--text-size-small);
  order: 1;
}

.cart-item__error-text + svg {
  flex-shrink: 0;
  width: 1.2rem;
  margin-right: 0.7rem;
}

.cart-item__error-text:empty + svg {
  display: none;
}

.product-option + .product-option {
  margin-top: var(--space-1);
}

.product-option * {
  display: inline;
  margin: 0;
}

.cart-items thead th {
  text-transform: uppercase;
}

@media screen and (max-width: 749px) {
  .cart-items,
  .cart-items thead,
  .cart-items tbody {
    display: block;
    width: 100%;
  }

  .cart-items thead tr {
    display: flex;
    justify-content: space-between;
    border-bottom: 0.1rem solid rgba(var(--color-foreground), 0.2);
    margin-bottom: var(--space-8);
  }

  .cart-item {
    display: grid;
    grid-template: repeat(2, auto) / repeat(4, 1fr);
    gap: var(--space-5);
    margin-bottom: var(--space-7);
  }

  .cart-item:last-child {
    margin-bottom: 0;
  }

  .cart-item__media {
    grid-row: 1 / 3;
  }

  .cart-item__details {
    grid-column: 2 / 4;
  }

  .cart-item__quantity {
    grid-column: 2 / 5;
  }

  .cart-item__quantity-wrapper {
    flex-wrap: wrap;
  }

  .cart-item__totals {
    display: flex;
    align-items: flex-start;
    justify-content: flex-end;
  }
}

.cart-item__error-text + svg {
  margin-top: var(--space-1);
}

@media screen and (min-width: 750px) {
  .cart-items {
    border-spacing: 0;
    border-collapse: separate;
    box-shadow: none;
    width: 100%;
    display: table;
  }

  .cart-items th {
    border-bottom: 0.1rem solid rgba(var(--color-foreground), 0.08);
  }

  .cart-items thead th:first-child {
    width: 50%;
  }

  .cart-items td {
    vertical-align: top;
    padding-top: var(--space-8);
  }

  .cart-item {
    display: table-row;
  }

  .cart-item__details {
    width: 35rem;
  }

  .cart-item__media {
    width: 10rem;
  }

  .cart-item cart-remove-button {
    margin: var(--space-2) 0 0 var(--space-5);
  }

  .cart-item__price-wrapper > *:only-child:not(.cart-item__discounted-prices) {
    margin-top: var(--space-4);
  }
}

@media screen and (min-width: 940px) {
  .cart-item__details {
    width: 50rem;
  }

  .cart-items thead th:first-child {
    width: 60%;
  }
}

/*------------------------------------*\
  #Cart Page Only (tablet and up)
  Scoped to .cart-items-section - does NOT affect cart drawer
\*------------------------------------*/

@media screen and (min-width: 750px) {
  .cart-items-section .cart-items {
    table-layout: fixed;
  }

  .cart-items-section .cart-items thead th {
    padding: 0 var(--space-4) var(--space-5);
  }

  .cart-items-section .cart-items thead th:first-child {
    width: auto;
    min-width: 0;
    padding-left: 0;
  }

  .cart-items-section .cart-items thead th:nth-child(3),
  .cart-items-section .cart-items thead th:nth-child(4) {
    text-align: right;
    white-space: nowrap;
    width: 1%;
    padding-right: 0;
  }

  .cart-items-section .cart-items thead th:nth-child(3) {
    padding-right: var(--space-6);
  }

  .cart-items-section .cart-items td {
    padding: var(--space-8) var(--space-4) 0;
    vertical-align: middle;
  }

  .cart-items-section .cart-items td:first-child,
  .cart-items-section .cart-items td:nth-child(2) {
    padding-left: 0;
  }

  .cart-items-section .cart-items td.cart-item__quantity,
  .cart-items-section .cart-items td.cart-item__totals {
    width: 1%;
    white-space: nowrap;
    padding-right: 0;
    vertical-align: middle;
  }

  .cart-items-section .cart-items td.cart-item__totals {
    text-align: right;
  }

  .cart-items-section .cart-items td.cart-item__totals .cart-item__price-wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }

  .cart-items-section .cart-items td.cart-item__quantity {
    padding-right: var(--space-6);
  }

  .cart-items-section .cart-items td.cart-item__details {
    vertical-align: middle;
  }

  .cart-items-section .cart-item__quantity-wrapper {
    align-items: center;
    justify-content: flex-end;
    gap: var(--space-3);
  }

  .cart-items-section .cart-item cart-remove-button {
    margin-left: var(--space-2);
    flex-shrink: 0;
  }

  .cart-items-section .cart-item__media {
    width: 8rem;
    max-width: 8rem;
  }

  .cart-items-section .cart-item__details {
    width: auto;
    max-width: 28rem;
  }
}

@media screen and (min-width: 940px) {
  .cart-items-section .cart-item__details {
    max-width: 36rem;
  }
}
