

/*------------------------------------*\
    #Floating CTA
\*------------------------------------*/

.floating-cta {
    position: fixed;
    bottom: var(--space-4);
    right: var(--space-2);
    z-index: 1000;
    text-decoration: none;
    transition: all 0.3s ease;
    text-align: center;
    background-color: transparent;
    color: rgb(var(--color-base-text-1));
    display: flex;
    align-items: center;
    justify-content: center;
    gap: var(--space-2);
    width: 100%; 
    max-width: 16rem;
  }


  .floating-cta svg  {
    fill: var(--floating-cta-color);
    width: 100%;
    height: 100%;
  }

.floating-cta:hover {
    transform: translateY(-2px);
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.2);
}

.floating-cta--left {
    left: 20px;
}

.floating-cta--right {
    right: 20px;
}

.floating-cta__link {
    color: inherit;
    text-decoration: none;
    display: block;
    position: absolute;
    margin: auto; 
}

@media screen and (max-width: 768px) {
    .floating-cta {
        bottom: 15px;
        left: 15px;
        right: 15px;
        max-width: none;
    }

    .floating-cta--left,
    .floating-cta--right {
        left: 15px;
        right: 15px;
    }
}