.totals {
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.totals > * {
  font-size: var(--text-size-main);
  margin: 0;
}

.totals > h3 {
  font-size: var(--headline-size-h6);
}

.totals * {
  line-height: 1;
}

.totals > * + * {
  margin-left: var(--space-5);
}

.totals__subtotal-value {
  font-size: var(--headline-size-h5);
}

.cart__ctas + .totals {
  margin-top: var(--space-5);
}

@media all and (min-width: 768px) {
  .totals {
    justify-content: flex-end;
  }
}
