/*------------------------------------*\
    #Header
  \*------------------------------------*/

[data-sticky-header] {
  z-index: 100;
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 5;
  background-color: rgb(var(--color-background));
  transition: all 0.3s var(--default-easing);
}

.header-wrapper {
  top: 0;
  width: 100%;
  z-index: 100;
  background-color: #ffffff;
  transition: all 0.3s var(--default-easing);
  overflow: visible;
}

/* .scrolled-past-header .header-wrapper {
    
  } */

.scrolled-past-header:not(.shopify-section-header-hidden) .header__mega-menu {
  top: var(--space-10);
}

.header {
  position: relative;
  transition: all 0.6s var(--default-easing);
  background-color: #ffffff;
}

.header.menu-open {
  background-color: rgb(var(--color-brand-1));
}

.header__inner {
  align-items: center;
  display: grid;
  grid-template-areas: 'menu heading cart-drawer';
  grid-template-columns: 1fr 2fr 1fr;
  justify-content: space-between;
  margin: auto;
  position: relative;
  padding-left: var(--space-5);
  padding-right: var(--space-5);
  padding-top: var(--space-5);
  padding-bottom: var(--space-5);
  transition: all 0.2s var(--default-easing);
}

@media screen and (min-width: 940px) {
  .header__inner {
    display: flex;
    padding-top: var(--space-2);
    padding-bottom: var(--space-2);
  }
}

.menu-open .header__inner {
  animation: headerBorderMobileOpen 1s var(--default-easing) forwards;
}

.menu-close .header__inner {
  animation: headerBorderMobileClose 0.4s var(--default-easing) forwards;
}

.menu-open .header__icon__inner,
.menu-open .header__icons {
  animation: animateIconsIn 1s var(--default-easing) forwards;
}

.menu-close .header__icon__inner,
.menu-close .header__icons {
  animation: animateIconsOut 0.4s var(--default-easing) forwards;
}

@keyframes animateIconsIn {
  0% {
    opacity: 1;
  }

  40% {
    opacity: 0;
  }

  60% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes animateIconsOut {
  0% {
    opacity: 1;
  }

  20% {
    opacity: 0;
  }

  30% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes headerBorderMobileClose {
  0% {
    padding-left: calc(var(--space-8) * 1.3);
    padding-right: calc(var(--space-8) * 1.3);
  }

  19% {
    padding-left: calc(var(--space-8) * 1.3);
    padding-right: calc(var(--space-8) * 1.3);
  }

  20% {
    padding-left: var(--space-5);
    padding-right: var(--space-5);
  }

  100% {
    padding-left: var(--space-5);
    padding-right: var(--space-5);
  }
}

@keyframes headerBorderMobileOpen {
  0% {
    padding-left: var(--space-5);
    padding-right: var(--space-5);
  }

  59% {
    padding-left: var(--space-5);
    padding-right: var(--space-5);
  }

  60% {
    padding-left: calc(var(--space-8) * 1.3);
    padding-right: calc(var(--space-8) * 1.3);
  }

  100% {
    padding-left: calc(var(--space-8) * 1.3);
    padding-right: calc(var(--space-8) * 1.3);
  }
}

.header header-drawer {
  justify-self: start;
}

.header *[tabindex='-1']:focus {
  outline: none;
}

.header__inline-menu {
  display: none;
}

/*------------------------------------*\
    #Header Heading
  \*------------------------------------*/

.header__heading {
  grid-area: heading;
  justify-self: center;
  line-height: 0;
  margin: 0;
  z-index: 2;
  width: auto;
}

@media screen and (min-width: 940px) {
  .header__heading {
    justify-self: start;
  }
}

.header__heading-link {
  display: block;
  width: 100%;
}

.header__logo {
  fill: rgb(var(--color-base-text-1));
  height: auto;
  max-width: 9rem;
  position: relative;
  transition: all var(--duration-default) var(--default-easing);
  width: 50vw;
  z-index: 0;
}

.menu-open .header__logo {
  color: rgb(var(--color-base-text-2));
  fill: rgb(var(--color-base-text-2));
}

.header__logo svg {
  height: 100%;
  width: 100%;
}

.header__logo svg path:last-of-type {
  transform-origin: center;
  transition:
    transform 3s var(--default-easing),
    opacity 3s var(--default-easing);
  transform-origin: 92%;
}

.header__heading-link:hover .header__logo svg path:last-of-type,
.header__logo:hover svg path:last-of-type {
  transform: rotate(180deg);
}

.menu-open .header__logo {
  fill: rgb(var(--color-base-text-2));
}

.header__localization {
  display: none;
}

/*------------------------------------*\
    #Header Drawer Blocker
  \*------------------------------------*/

.header-drawer-blocker {
  background: rgb(var(--color-base-background-1));
  border-bottom: 1px solid rgb(var(--color-base-text-2));
  bottom: 0;
  height: 100%;
  position: absolute;
  right: 0;
  top: 0;
  transition: all 0.2s ease-in-out;
  width: 100%;
  z-index: 1;
}

.menu-open .header-drawer-blocker {
  background: rgb(var(--color-base-background-2));
}

@media screen and (min-width: 940px) {
  header-drawer {
    display: none;
  }
}

/*------------------------------------*\
    #Header Icons
  \*------------------------------------*/

.menu-open .header__icons .header__icon {
  color: rgb(var(--color-base-text-2));
}

.header__icons {
  display: flex;
  justify-content: flex-end;
  position: relative;
  padding-right: 0;
  column-gap: var(--space-3);
}

@media screen and (min-width: 940px) {
  .header__icons {
    position: relative;
    /* top: var(--space-3);
      color: rgb(var(--color-base-text-1));
      margin: 0 auto;
      left: auto;
      right: auto;
      column-gap: var(--space-3);
      max-width: 115rem;
      padding: 0 2%; */
  }
}

@media screen and (min-width: 1300px) {
  .header__icons {
    padding: 0 var(--space-8);
  }
}

.header__icon {
  position: relative;
  background-color: transparent;
  border: none;
  color: rgb(var(--color-base-text-1));
  display: block;
  padding: 0;
  margin-bottom: 0;
  transition: all 200ms var(--default-easing);
}

.header__icon--menu {
  width: 1.5rem;
  height: 1.5rem;
}

@media screen and (min-width: 940px) {
  .header__icon:hover,
  .header__icon:focus {
    cursor: pointer;
    opacity: 0.5;
  }
}

.header__icon .icon {
  fill: rgb(var(--color-base-text-1));
  color: rgb(var(--color-base-text-1));
  vertical-align: middle;
}

.header__icon svg {
  height: 100%;
  width: 100%;
}

.header__icon--cart {
  width: 1.25rem;
  height: 1.25rem;
}

.header__icon--search {
  display: none;
}

@media screen and (min-width: 940px) {
  .header__icon--search {
    display: block;
  }
}

/*------------------------------------*\
    #Header Icons - Cart Toggle
  \*------------------------------------*/

@media only screen and (min-width: 940px) {
  .header__icon--cart {
    margin-right: 0;
  }

  .header__icon--cart .icon {
    margin-right: 0;
    color: rgb(var(--color-base-text-1));
    height: 80%;
    width: 80%;
  }
}

.header__cart-button {
  background: transparent;
  border: none;
  color: rgb(var(--color-base-text-1));
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  font-size: var(--headline-size-h4);
  height: auto;
  line-height: 1;
  list-style: none;
  margin-right: 0;
  padding: var(--space-3) var(--space-3) var(--space-1);
  text-decoration: none;
  text-transform: uppercase;
  top: 0;
  transition: all var(--duration-default) ease 0s;
  width: auto;
}

.header__cart-button:hover,
.header__cart-button:focus {
  text-decoration: underline;
}

/*------------------------------------*\
    #Header Cart - Cart Count
  \*------------------------------------*/

.cart-count-bubble {
  align-items: center;
  background-color: rgb(var(--color-accent));
  border-radius: 100%;
  bottom: 30%;
  color: rgb(var(--color-base-text-1));
  display: flex;
  font-size: var(--text-size-tiny);
  height: 1rem;
  justify-content: center;
  margin: auto;
  padding-top: 1px;
  position: absolute;
  right: -0.5rem;
  text-decoration: none !important;
  width: 1rem;
  transition: all 0.2s var(--default-easing);
}

.cart-count-bubble:empty {
  display: none;
}

.cart-count-bubble.is-hidden {
  opacity: 0;
}

.cart-count-bubble span {
  display: flex;
  height: 100%;
  position: absolute;
}

.header__cart-button .cart-count-bubble {
  bottom: 0;
  font-size: var(--text-size-tiny);
  height: 1.25rem;
  line-height: 1;
  margin-right: 0;
  padding-top: 0.2rem;
  right: -0.5rem;
  top: 0;
  width: 1.25rem;
}

/*------------------------------------*\
    #Header Border Mobile
  \*------------------------------------*/

.menu-open + .header-border-mobile {
  position: absolute;
  z-index: 100;
  pointer-events: none;
  top: 0;
  left: 0;
  background-color: transparent;
  width: 97dvh;
  border: 1px solid rgb(var(--color-base-text-2));
  width: 97vw;
  height: 99vh;
  margin: 0 auto;
  left: 0;
  right: 0;
  margin-top: 0.15rem;
  background-color: transparent;
  bottom: 0.25rem;
  border-radius: calc(var(--border-radius-large) * 1.5);
}

@media screen and (min-width: 940px) {
  .menu-open + .header-border-mobile {
    display: none;
  }
}

.announcement-bar-active .menu-open + .header-border-mobile {
  opacity: 1;
  height: 93dvh;
}
