/*------------------------------------*\
    #Rich Text Section
\*------------------------------------*/

.rich-text {
  z-index: 1;
}

.rich-text__wrapper {
  display: flex;
  justify-content: center;
  width: calc(100% - 4rem / var(--font-body-scale));
}

.rich-text:not(.rich-text--full-width) .rich-text__wrapper {
  margin: auto;
  width: calc(100% - 8rem / var(--font-body-scale));
}

.rich-text__blocks {
  width: 100%;
}

.rich-text__buttons {
  display: inline-flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: var(--space-4);
  width: 100%;
  max-width: 45rem;
  word-break: break-word;
}

.rich-text__buttons--multiple > * {
  flex-grow: 1;
  min-width: 22rem;
}

.rich-text__buttons + .rich-text__buttons {
  margin-top: var(--space-4);
}

.rich-text__blocks.left .rich-text__buttons {
  justify-content: flex-start;
}

.rich-text__blocks.right .rich-text__buttons {
  justify-content: flex-end;
}

/*------------------------------------*\
      #Text
  \*------------------------------------*/

.rich-text__heading {
  text-transform: uppercase;
  font-weight: var(--font-weight-bold);
  margin-bottom: var(--space-6);
  font-size: var(--headline-size-h4);
}

@media screen and (min-width: 750px) {
  .rich-text__heading {
    font-size: var(--headline-size-h3);
  }
}

@media screen and (min-width: 940px) {
  .rich-text__heading {
    font-size: var(--headline-size-h2);
  }
}

/*------------------------------------*\
      #Text
  \*------------------------------------*/

@media screen and (min-width: 750px) {
  .rich-text__text {
    font-size: var(--headline-size-h5);
  }

  .rich-text__text p {
    line-height: var(--line-height-double);
  }
}

@media screen and (min-width: 940px) {
  .rich-text__text {
    font-size: var(--headline-size-h4);
  }
}

/*------------------------------------*\
      #Image
  \*------------------------------------*/

.rich-text__image {
  position: relative;
  border-radius: var(--border-radius-main);
  overflow: hidden;
  margin-top: var(--space-8);
  margin-bottom: var(--space-8);
}

@media screen and (min-width: 940px) {
  .rich-text__image {
    margin-top: var(--space-10);
    margin-bottom: var(--space-10);
  }
}

.rich-text__image__inner {
  position: relative;
  padding-bottom: 52.2%;
}

/*------------------------------------*\
      #CTA
  \*------------------------------------*/

.rich-text__cta {
  text-align: center;
  text-transform: uppercase;
  font-size: var(--headline-size-h5);
  margin-top: var(--space-6);
  margin-bottom: var(--space-6);
}

@media screen and (min-width: 940px) {
  .rich-text__cta {
    margin-top: var(--space-7);
    margin-bottom: var(--space-9);
  }
}

/*------------------------------------*\
  #Rich Text
\*------------------------------------*/

.metafield-rich_text_field ul,
.metafield-rich_text_field li {
  list-style: disc;
  margin-left: var(--space-3);
}

.metafield-rich_text_field li {
  margin-bottom: var(--space-5);
}

.rte:after {
  clear: both;
  content: '';
  display: block;
}

.rte > p:last-child {
  margin-bottom: 0;
}

.rte table {
  table-layout: fixed;
}

@media screen and (min-width: 750px) {
  .rte table td {
    padding-left: var(--space-4);
    padding-right: var(--space-4);
  }
}

.rte img {
  height: auto;
  max-width: 100%;
  border: var(--media-border-width) solid
    rgba(var(--color-foreground), var(--media-border-opacity));
  border-radius: var(--media-radius);
  box-shadow: var(--media-shadow-horizontal-offset)
    var(--media-shadow-vertical-offset) var(--media-shadow-blur-radius)
    rgba(var(--color-shadow), var(--media-shadow-opacity));
  margin-bottom: var(--media-shadow-vertical-offset);
}

.rte ul {
  padding-left: var(--space-8);
}

.rte li {
  list-style: inherit;
}

.rte li:last-child {
  margin-bottom: 0;
}
/* List resets */
.rte li,
.rte ul {
  list-style: disc;
}

.rte ol,
.rte ol li {
  list-style: decimal;
}

.rte p {
  margin-bottom: var(--space-8);
}

.rte > p:first-child {
  margin-top: 0;
}

.rte a {
  color: rgba(var(--color-link), var(--alpha-link));
  text-underline-offset: 0.3rem;
  text-decoration-thickness: 0.1rem;
  transition: text-decoration-thickness var(--duration-short) ease;
}

.rte a:hover {
  color: rgb(var(--color-link));
  text-decoration-thickness: 0.2rem;
}

.rte blockquote {
  display: inline-flex;
}

.rte blockquote > * {
  margin: calc(-1 * var(--space-2)) 0 calc(-1 * var(--space-2)) 0;
}

.rte h2 {
  font-size: var(--headline-size-h3);
  margin-bottom: var(--space-7);
}

.rte h3 {
  font-size: var(--headline-size-h4);
}

.rte p + h3 {
  margin-top: var(--space-9);
}
