/*------------------------------------*\
    #Search
\*------------------------------------*/

.menu-drawer-search {
    align-items: center;
    border-bottom: 1px solid rgb(var(--color-base-text));
    display: flex;
    height: 100%;
    justify-content: center;
    padding-top: var(--level2); 
    width: 100%;
    margin-bottom: -.5rem;
  }
  
  predictive-search {
    display: block;
    width: 100%; 
  }
  
  
  
  /*------------------------------------*\
      #Search Modal (Desktop)
  \*------------------------------------*/
  
  .search-modal {
    left: 0;
    position: absolute;
    right: 0;
    top: 6.5rem;
    transform: translateY(-2%);
    transition: all .3s cubic-bezier(0.16, 1, 0.3, 1);
    width: 100%;
  }
  
  @media screen and (min-width: 940px) {
    .search-modal {
      top: 8.5rem;
    }
  }
  
  
  .search-modal[aria-hidden="true"] {
    border-top: 1px solid rgb(var(--color-base-text));
    opacity: 0;
    transform: translateY(-10%);
  }
  
  .search-modal[aria-hidden="true"].preload {
    opacity: 0;
    visibility: hidden;
  }
  
  .search-modal[aria-hidden="false"] {
    transform: translateY(0);
  }
  
  .search-modal__content {
    align-items: center;
    background-color: rgb(var(--color-base-background-1));
    border-bottom: 1px solid rgb(var(--color-base-text));
    display: flex;
    height: 100%;
    justify-content: center;
    margin-bottom: var(--level10);
    width: 100%;
  }
  
  @media screen and (min-width: 940px) {
    .search-modal__content {
      background-color: rgb(var(--color-base-background-1));
      height: auto;
      margin-bottom: 0;
      position: relative;
    }
  }
  
  .search-modal__form {
    border: 1px solid rgb(var(--color-base-text-1));  
    width: 100%;
  }
  
  @media screen and (min-width: 700px) {
    .search-modal__form {
      border: none;
      display: block;
    }
  }
  
  
  @media screen and (min-width: 940px) {
    .search-modal__form {
      display: block;
      padding-bottom: var(--level3);
    }
  }
  
  
  .search-modal__form.is-focused .search__label {
    opacity: 0;
    transform: translateY(-4%);
  }
  
  .search-modal__close {
    position: absolute;
    right: 2rem;
    width: 2rem;
    padding: 0;
    background-color: transparent;
    outline: 0;
    margin-bottom: 0;
    border: 0;
    height: 100%;
    opacity: .6;
    transition: all .3s cubic-bezier(0.16, 1, 0.3, 1);
  }
  
  .search-modal__close svg { 
    width: 100%;
    height: 100%;
  }
  
  .search-modal__close:hover,
  .search-modal__close:focus {
    opacity: 1;
    transform: rotate(90deg);
  }
  
  
  
  /*------------------------------------*\
      #Search Input
  \*------------------------------------*/
  
  :root {
    --letter-spacing-text: 4px;
  }
  .search__input-container {
    align-items: center;
    display: flex;
    position: relative;
    width: 100%;
  }
  
  @media screen and (min-width: 940px) {
    .search__input-container {
      margin-left: auto;
      margin-right: auto;
      max-width: 112rem;
    }
  }
  
  .search-modal__form .search__label {
    color: rgb(var(--color-base-text));
    display: block;
    font-family: var(--tertiary-font-family);
    font-size: var(--micro);
    letter-spacing: var(--letter-spacing-text);
    right:0; 
    line-height: 1;
    margin: auto;
    padding-left: inherit;
    padding-right: inherit;
    pointer-events: none;
    position: absolute;
    text-transform: uppercase;
    margin: auto; 
    transition: all .3s cubic-bezier(0.16, 1, 0.3, 1);
    padding-right: var(--level5);
    padding-top: var(--level5);
  }
  
  @media screen and (min-width: 700px) {
    .search-modal__form .search__label {
      font-size: var(--normal);
      left: var(--level5);
      opacity: .5;
    }
  }
  
  
  .search-modal .search__input[type="search"] { 
    text-transform: uppercase;
  }
  
  
    .search__input[type="search"] {
      border: 0;
      font-family: var(--tertiary-font-family);
      font-size: var(--normal);
      letter-spacing: 4px;
      padding-left: 2.75rem;
      border: none;
      padding-left: 0;
      padding-top: var(--level7);
      padding-bottom: var(--level3);
      border: none;
      border-bottom: 1px solid rgb(var(--color-base-text-1)) ;
      width: 50%;
      left: 0;
      padding-left: var(--level1);
      margin-left: var(--level5);
      text-transform: uppercase;
  }
  
  .search__input-container {
    width: 100%; 
    position: relative;
  }
  
  .search__input[aria-expanded="true"]+label {
    opacity: 0;
  }
  
  /* clears the ‘X’ from Internet Explorer */
  input[type=search]::-ms-clear { display: none; width : 0; height: 0; }
  input[type=search]::-ms-reveal { display: none; width : 0; height: 0; }
  /* clears the ‘X’ from Chrome */
  input[type="search"]::-webkit-search-decoration,
  input[type="search"]::-webkit-search-cancel-button,
  input[type="search"]::-webkit-search-results-button,
  input[type="search"]::-webkit-search-results-decoration { display: none; }
  
  .search__button {
    background: transparent;
    border: 0;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 4rem;
  }
  
  .search__button svg {
    color: black;
    fill: black;
    height: 55%;
    width: 55%;
  }
  
  .is-active .search__label {
    opacity: 0;
  }
  
  .predictive-search {
    opacity: 0;
    pointer-events: auto;
    position: relative;
    transition: all .2s cubic-bezier(0.16, 1, 0.3, 1);
    z-index: 3;
  }
  
  
  @media screen and (min-width: 940px) {
    .predictive-search {
      margin-left: auto;
      margin-right: auto;
      max-width: 112rem;
    }
  }
  
  
  
  .predictive-search--search-template {
    z-index: 2
  }
  
  predictive-search[open] .predictive-search {
    opacity: 1;
  }
  
  predictive-search[loading] .predictive-search {
    height: 0;
    opacity: 0;
  }
  
  .predictive-search__heading {
    align-items: center;
    color: rgb(var(--color-base-text));
    display: flex;
    font-size: var(--h6);
    justify-content: space-between;
    margin: 0 auto;
    padding-left: var(--level6);
    padding-top: var(--level6);
    text-transform: uppercase;
    text-decoration: underline;
  }
  
  .predictive-search__results-list {
    column-gap: var(--level8);
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding-left: var(--level6);
    padding-right: var(--level6);
    padding-top: var(--level5);
  }
  
  @media only screen and (min-width: 940px) {
    .predictive-search__results-list {
      column-gap: calc(var(--level5));
      grid-template-columns: repeat(8, 1fr);
      overflow: hidden;
      position: relative;
  }
  
  
  @media only screen and (min-width: 1300px) {
    .predictive-search__results-list {
      grid-template-columns: repeat(9, 1fr);
  }
  }
  
  
  
  .predictive-search__item {
    display: flex;
    text-align: left;
    text-decoration: none;
    width: 100%;
    transition: opacity .3s cubic-bezier(0.16, 1, 0.3, 1);
  }
  
  .predictive-search__item:hover,
  .predictive-search__item:focus {
    opacity: 1;
  }
  
  .predictive-search__item:hover ~ .predictive-search__item,
  .predictive-search__item:focus ~ .predictive-search__item {
    opacity: 0.5;
    transition: opacity .3s cubic-bezier(0.16, 1, 0.3, 1);
  
  }
  
  .predictive-search__item img {
    transition: all .3s cubic-bezier(0.16, 1, 0.3, 1);
  }
  
  .predictive-search__item:hover .predictive-search__image-container,
  .predictive-search__item:focus .predictive-search__image-container {
    transform: scale(1.02);
  }
  
  .predictive-search__image-container {
    transition: all .3s cubic-bezier(0.16, 1, 0.3, 1);
    position: relative;
  }
  
  .predictive-search__item--link {
    display: grid;
    grid-template-areas: 'product-image'
      'product-content';
    grid-template-columns: 1fr;
  }
  
  .predictive-search__item-content {
    display: flex;
    flex-direction: column;
    grid-area: product-content;
  }
  
  @media screen and (min-width: 940px) {
    .predictive-search__item-content {
      flex-direction: row;
      justify-content: space-between;
    }
  }
  
  .predictive-search__item-heading {
    font-family: var(--primary-font-family);
    font-size: var(--micro);
    font-weight: 300; 
    margin-bottom: var(--level2);
    text-align: center;
    width: 100%;
    text-transform: uppercase;
  }
  
  
  .price.predictive-search__item-price {
    font-size: var(--h5);
  }
  
  @media screen and (min-width: 940px) {
    .predictive-search__item-price {
      font-size: var(--h4) !important;
    }
  }
  
  
  /* 
  predictive-search .spinner {
    width: 1.5rem;
    height: 1.5rem;
    line-height: 0;
  }
  
  .predictive-search__heading .spinner {
    margin: 0 0.2rem 0 2rem;
  } */
  
  predictive-search:not([loading]) .predictive-search__heading .spinner,
  predictive-search:not([loading]) .predictive-search__loading-state,
  predictive-search:not([loading]) .predictive-search-status__loading {
    display: none;
  }
  
  predictive-search[loading] .predictive-search__loading-state {
    display: flex;
    justify-content: center;
    padding: 1rem;
  }
  
  
  
  
  predictive-search[loading] .predictive-search__heading~.predictive-search__loading-state,
  predictive-search[loading] .predictive-search__results-list:first-child {
    display: none;
  }
  
  
  
  /* Hide Results on mobile to only show 2*/
  .predictive-search__results-list .predictive-search__list-item:nth-child(2)~.predictive-search__list-item {
    display: none;
  }
  
  @media only screen and (min-width: 940px) {
    .predictive-search__results-list .predictive-search__list-item:nth-child(2)~.predictive-search__list-item {
      display: flex;
    }
  
    .predictive-search__results-list .predictive-search__list-item:nth-child(4)~.predictive-search__list-item {
      display: none;
    }
  }
  
  .predictive-search__results-list .predictive-search__list-item:nth-child(2)~.predictive-search-option-search-keywords {
    display: flex;
  }
  
  
  .predictive-search__list-item {
    margin-bottom: var(--level5);
  }
  @media screen and (min-width: 940px) {
    .predictive-search__list-item {
      margin-bottom: 0;
    }
  }
  .predictive-search-option-search-keywords {
    align-self: center;
    grid-column-end: 3;
    grid-column-start: 1;
    justify-content: center;
    justify-self: center;
    padding-top: var(--level3);
    width: 100%;
  }
  
  @media only screen and (min-width: 940px) {
    .predictive-search-option-search-keywords {
      grid-column-end: 5;
      margin-bottom: var(--level9);
    }
  }
  
  #predictive-search-results{
    padding-top: var(--level4);
    padding-bottom: var(--level6);
  }
  
  .predictive-search__cta {
    background-color: transparent;
    border: none;
    color: var(--color-base-text-1);
    display: block;
    font-family: var(--tertiary-font-family);
    font-size: var(--normal);
    letter-spacing: 2px;
    margin-bottom: var(--level3);
    margin-top: var(--level3);
    margin-left: auto;
    margin-right: auto;
    margin-right: auto;
    max-width: 40rem;
    outline: 0;
    text-align: center;
    text-decoration: none;
    text-decoration: underline;
    line-height: 1.6;
    text-decoration: none;
  }
  
  
  .predictive-search__cta:hover,
  .predictive-search__cta:focus {
    text-decoration: none;
  }
  
  
  
  .predictive-search__list-item[aria-selected="true"]>*,
  .predictive-search__list-item:hover>* {}
  
  .predictive-search__list-item[aria-selected="true"] .predictive-search__item-heading,
  .predictive-search__list-item:hover .predictive-search__item-heading {}
  
  
  
  /*------------------------------------*\
      #Images
  \*------------------------------------*/
  
  
  .predictive-search__image-container {
    grid-area: product-image;
    margin-bottom: var(--level2);
    overflow: hidden;
    position: relative;
    width: 100%;
  }
  
  .predictive-search__image {
    object-fit: contain;
    padding-bottom: 140%;
    position: relative;
  }
  
  .predictive-search__image img {
    height: 100%;
    left: 0;
    object-fit: cover;
    position: absolute;
    right: 0;
    top: 0;
    width: 100%;
  }