/*------------------------------------*\
    #Blog Card
\*------------------------------------*/

.blog-card {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.blog-card__content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.blog-card__image-container {
  margin-bottom: var(--space-5);
  border-radius: var(--border-radius-main);
  overflow: hidden;
}

.blog-card__excerpt {
  margin-bottom: var(--space-7);
  flex-grow: 1;
}

.blog-card__title {
  margin-bottom: var(--space-4);
}

.blog-card__button {
  margin-top: auto;
  margin-bottom: 0;
}
