/*------------------------------------*\
    #Featured Blog Posts
\*------------------------------------*/

.featured-blog-posts__contain {
    margin: auto;
}

.featured-blog-posts__header {
    text-align: center;
    margin-bottom: var(--space-8);
}

.featured-blog-posts__grid {
    gap: var(--space-8);
}


.blog-card__image-wrapper {
    border-radius: var(--border-radius-large);
    overflow: hidden;
}