/*------------------------------------*/
/* Featured Collections */
/*------------------------------------*/



/*------------------------------------*/
/* Media Wrapper                        */
/*------------------------------------*/


.featured-collections__column__media-wrapper {
    position: relative;
    width: 100%; 
}

.featured-collections__column__media {
    position: relative;
    aspect-ratio: 1/.9;
    width: 100%; 
    border-radius: var(--border-radius-main);
    overflow: hidden;
    margin-bottom: var(--space-7);
}

@media screen and (min-width: 1024px) {
    .featured-collections__column__media {
        border-radius: var(--border-radius-large);
    }
}





/*------------------------------------*/
/* Column */
/*------------------------------------*/


.featured-collections__column  {
    background-color: rgb(var(--color-background));
    color: rgb(var(--color-text));
}


.featured-collections__column__layout {
    text-decoration: none;
    position: relative;
    padding-left: var(--space-7);
    padding-right: var(--space-7);
    display: block;
}

@media screen and (min-width: 748px) {
    .featured-collections__column__layout  {
        padding: var(--space-7);
        height: 100%; 
    }
}





/*------------------------------------*/
/* Sticker */
/*------------------------------------*/


.featured-collections__column__sticker {
    position: absolute;
    left: 0; 
    bottom: 0; 
    z-index: 1;
    max-width: 3rem; 
    width: 100%; 
    aspect-ratio: 1/1; 
    left: calc(-1 * var(--space-5));
    bottom: calc(-1 * var(--space-5));
}

@media screen and (min-width: 748px) {
    .featured-collections__column__sticker {
        max-width: 5.5rem; 
    };
}

.featured-collections__layout .featured-collections__column:nth-child(2) .featured-collections__column__layout  .featured-collections__column__sticker{
    top: var(--space-8);
    right: calc(-1 * var(--space-6));
    left: auto; 
    bottom: auto; 
}


@media screen and (min-width: 748px) {
    .featured-collections__layout .featured-collections__column:nth-child(2) .featured-collections__column__layout  .featured-collections__column__sticker{
        left: auto; 
        bottom: auto; 
    }
}



/*------------------------------------*/
/* Headline */
/*------------------------------------*/


.featured-collections__column__headline {
    color: rgb(var(--color-accent));
    margin-bottom: var(--space-6);
}

.featured-collections__column__eyebrow {
    margin-bottom: var(--space-2);
}

@media screen and (min-width: 748px) {
    .featured-collections__column__text-wrapper {
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-end
    }
}

.featured-collections__column__text {
    flex-basis: min-content; 
    max-width: 20rem; 
}


@media screen and (min-width: 748px) {
    .featured-collections__column__button-wrapper {
        position: absolute;
        bottom: 0;
        right: 0;
        z-index: 1;
        padding: inherit; 
        top: auto;
        padding-right: var(--space-8);
        bottom: var(--space-6);
    }
}

