

/*------------------------------------*\
    #Product Recommendations
\*------------------------------------*/


.related-products .swiper-slide {
    width: auto;
 }
  


 .product-recommendations__heading {
  text-transform: uppercase;
  text-align: center;
  margin-bottom: var(--space-8);
 }


 @media screen and (min-width: 768px) {
 .product-recommendations__grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
 }
}

@media screen and (min-width: 1024px) {
  .product-recommendations__grid {
   display: grid;
   grid-template-columns: repeat(4, 1fr);
  }
 }
 
