/*------------------------------------*\
    #Footer
\*------------------------------------*/

.footer {
  width: 100%;
  padding: var(--space-10) 0 var(--space-2) 0;
  position: relative;
  border-radius: var(--border-radius-x-large) var(--border-radius-x-large) 0 0;
  overflow: hidden;
  z-index: 0;
  position: relative;
}

@media screen and (min-width: 750px) {
  .footer {
    padding: var(--space-10) 0 var(--space-8) 0;
  }
}

.footer__container {
  width: 100%;
  position: relative;
  z-index: 1;
}
.footer__background-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
  overflow: hidden;
}

.footer__background-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

/*------------------------------------*\
    #Footer Main Content
\*------------------------------------*/

.footer__grid {
  gap: var(--space-8);
}

.footer__column {
  display: flex;
  flex-direction: column;
}

@media screen and (min-width: 750px) {
  .footer__grid .footer__column:last-child {
    justify-content: flex-end;
    flex-direction: column;
    align-items: flex-end;
    display: flex;
    padding-left: var(--space-8);
  }
}

/*------------------------------------*\
    #Company Information
\*------------------------------------*/

.footer__company {
  display: flex;
  flex-direction: column;
  gap: var(--space-6);
}

.footer__logo {
  max-width: 200px;
  margin-bottom: var(--space-10);
}

.footer__logo-image {
  width: 100%;
  display: block;
}

.footer__logo-image img {
  width: 100%;
  height: auto;
  display: block;
}

.footer__description {
  line-height: 1.6;
  max-width: 90%;
}

.footer__social {
  margin-top: var(--space-4);
  width: 100%;
}

.footer__social-list {
  display: flex;
  gap: var(--space-4);
  list-style: none;
  margin: 0;
  padding: 0;
  width: 100%;
  margin-bottom: var(--space-6);
}

@media screen and (min-width: 750px) {
  .footer__social-list {
    text-align: right;
    max-width: 28rem;
  }
}

.footer__social-item {
  margin: 0;
}

.footer__social-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 1.75rem;
  height: 1.75rem;
  border: 1px solid var(--color-border);
  border-radius: 50%;
  transition: all 0.3s var(--default-easing);
  color: rgb(var(--color-text-1));
}

.footer__social-link:hover {
  background-color: var(--color-background-2);
  border-color: rgb(var(--color-text-1));
  transform: translateY(-2px);
}

.footer__social-link svg {
  width: 100%;
  height: 100%;
  fill: currentColor !important;
}

/*------------------------------------*\
    #Column Titles
\*------------------------------------*/

.footer__column-title {
  margin-bottom: var(--space-6);
}

/*------------------------------------*\
    #Quick Links
\*------------------------------------*/

@media screen and (min-width: 750px) {
  .footer__quick-links-container {
    display: flex;
    flex-direction: row;
    gap: var(--space-9);
    margin-top: auto;
    margin-top: var(--space-5);
    padding-bottom: var(--space-5);
  }
}

.footer__quick-links {
  margin-top: auto;
}

.footer__links-list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: var(--space-5);
  margin-bottom: var(--space-10);
}

@media screen and (min-width: 750px) {
  .footer__links-list {
    margin-bottom: 0;
    gap: var(--space-3);
  }
}

.footer__links-item {
  margin: 0;
}

.footer__link {
  color: var(--color-text-1);
  text-decoration: none;
  transition: color 0.3s var(--default-easing);
  font-size: var(--text-size-main);
  opacity: 0.8;
}

.footer__link:hover {
  opacity: 1;
  text-decoration: underline;
}

/*------------------------------------*\
    #Newsletter
\*------------------------------------*/

.footer__newsletter {
  display: flex;
  text-align: left;
  display: flex;
  flex-direction: column;
  flex-direction: column;
  width: 100%;
}
@media screen and (min-width: 750px) {
  .footer__newsletter {
    margin-top: var(--space-5);
    max-width: 28rem;
  }
}

.footer__newsletter-form {
  margin-bottom: 0;
}

.footer__newsletter-form [class^='klaviyo-form'],
.footer__newsletter-form .klaviyo-form {
  width: 100% !important;
  padding: 0 !important;
  margin: 0 !important;
  box-sizing: border-box;
  color: rgb(var(--color-text-1)) !important;
  font-family: var(--primary-font-family) !important;
}

.footer__newsletter-form .klaviyo-form h1,
.footer__newsletter-form .klaviyo-form h2,
.footer__newsletter-form .klaviyo-form h3,
.footer__newsletter-form .klaviyo-form h4,
.footer__newsletter-form .klaviyo-form h5,
.footer__newsletter-form .klaviyo-form h6,
.footer__newsletter-form .klaviyo-form p {
  color: rgb(var(--color-text-1)) !important;
  font-family: var(--primary-font-family) !important;
}

.footer__newsletter-form .klaviyo-form p {
  margin-bottom: var(--space-3) !important;
}

.footer__newsletter-form .klaviyo-form .needsclick {
  min-height: auto !important;
}

.footer__newsletter-form .klaviyo-form form {
  padding: 0 !important;
}

.footer__newsletter-form .klaviyo-form input {
  background: rgb(var(--color-text-1)) !important;
  border-radius: 100vw !important;
  overflow: hidden;
  border: 2px solid rgb(var(--color-base-accent-1)) !important;
  margin-bottom: var(--space-5) !important;
  color: rgb(var(--color-background)) !important;
  text-transform: uppercase !important;
  letter-spacing: 0.06rem !important;
  padding-left: var(--space-5) !important;
  padding-right: 4rem !important;
  font-size: var(--text-size-main) !important;
  height: 3.75rem !important;
  font-family: var(--primary-font-family) !important;
}

@media screen and (min-width: 750px) {
  .footer__newsletter-form .klaviyo-form input {
    height: 4.5rem !important;
    padding-right: 4.75rem !important;
    font-size: var(--text-size-medium) !important;
  }
}

.footer__newsletter-form
  .klaviyo-form
  form
  button.klaviyo-form-button:not([role='combobox']):not(
    [aria-label='Copy coupon code']
  ) {
  width: 3.25rem !important;
  min-width: 3.25rem !important;
  max-width: 3.25rem !important;
  height: 3.25rem !important;
  min-height: 3.25rem !important;
  max-height: 3.25rem !important;
  aspect-ratio: 1 / 1 !important;
  border-radius: 50% !important;
  border: none !important;
  background: rgb(var(--color-base-accent-1)) !important;
  color: rgb(var(--color-background)) !important;
  font-size: var(--text-size-small) !important;
  font-weight: 500 !important;
  position: absolute;
  top: 0.25rem;
  right: 0.25rem;
  margin: 0 !important;
  padding: 0 !important;
  display: inline-flex !important;
  align-items: center;
  justify-content: center;
  box-sizing: border-box !important;
  flex: none !important;
  overflow: hidden;
  line-height: 1 !important;
  transition: all 0.2s var(--main-easing) !important;
  font-family: var(--primary-font-family) !important;
}

@media screen and (min-width: 750px) {
  .footer__newsletter-form
    .klaviyo-form
    form
    button.klaviyo-form-button:not([role='combobox']):not(
      [aria-label='Copy coupon code']
    ) {
    width: 4rem !important;
    min-width: 4rem !important;
    max-width: 4rem !important;
    height: 4rem !important;
    min-height: 4rem !important;
    max-height: 4rem !important;
  }
}

.footer__newsletter-form .needsclick:has(button),
.footer__newsletter-form [data-testid='form-component'] {
  padding: 0 !important;
  margin: 0 !important;
}

.footer__newsletter-form .klaviyo-form form button:hover,
.footer__newsletter-form .klaviyo-form form button:focus {
  background: rgb(var(--color-background)) !important;
  color: rgb(var(--color-base-accent-1)) !important;
  border-color: rgb(var(--color-background)) !important;
}

.footer__newsletter-form .klaviyo-form form [data-testid='form-row'],
.footer__newsletter-form .klaviyo-form form [data-testid='form-component'] {
  padding: 0 !important;
}

.footer__newsletter-form .klaviyo-form form button[role='combobox'] {
  background: transparent !important;
  border: none !important;
  left: 1rem !important;
  gap: 0 !important;
  position: absolute !important;
  width: 3.5rem !important;
  top: 0.25rem;
}

.footer__newsletter-form .klaviyo-form form button[role='combobox']:hover,
.footer__newsletter-form .klaviyo-form form button[role='combobox']:focus {
  background: transparent !important;
  border: none !important;
}

.footer__newsletter-form input[type='tel'] {
  padding-left: 5rem !important;
}

/*------------------------------------*\
    #Footer Bottom
\*------------------------------------*/

.footer__bottom {
  border-top: 1px solid var(--color-border);
  padding-top: var(--space-6);
  padding-bottom: var(--space-6);
}

@media screen and (min-width: 750px) {
  .footer__bottom {
    padding-bottom: 0;
  }
}

.footer__bottom-content {
  display: flex;
  flex-direction: column;
  gap: var(--space-6);
  align-items: flex-start;
  text-align: center;
}

@media screen and (min-width: 750px) {
  .footer__bottom-content {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    justify-content: flex-end;
    text-align: right;
  }
}

.footer__copyright {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--space-3) var(--space-5);
  flex-shrink: 0;
}

@media screen and (min-width: 750px) {
  .footer__copyright {
    justify-content: flex-end;
  }
}

.footer__copyright-text {
  margin: 0;
  font-size: var(--text-size-small);
  opacity: 0.8;
}

.footer__privacy-choices-link {
  display: inline-flex;
  align-items: center;
  gap: 0.4em;
  color: inherit;
  font-size: var(--text-size-small);
  line-height: 1;
  text-decoration: none;
  opacity: 0.8;
  transition: opacity 0.3s var(--default-easing);
}

.footer__privacy-choices-link:hover {
  opacity: 1;
  text-decoration: none;
}

.footer__privacy-choices-link svg {
  display: block;
  width: 1.875em;
  height: 0.875em;
  flex-shrink: 0;
}

.footer__bottom-links {
  display: flex;
  flex-direction: column;
  gap: var(--space-4);
  align-items: center;
}

@media screen and (min-width: 750px) {
  .footer__bottom-links {
    flex-direction: row;
    gap: var(--space-8);
  }
}

/*------------------------------------*\
    #Payment Icons
\*------------------------------------*/

.footer__payment-icons {
  display: flex;
  align-items: center;
}

.footer__payment-list {
  display: flex;
  gap: var(--space-2);
  list-style: none;
  margin: 0;
  padding: 0;
  align-items: center;
}

.footer__payment-item {
  margin: 0;
}

.footer__payment-icon {
  width: 2rem;
  height: auto;
  opacity: 0.7;
}

/*------------------------------------*\
    #Bottom Navigation
\*------------------------------------*/

.footer__bottom-nav {
  display: flex;
  align-items: center;
}

.footer__bottom-nav-list {
  display: flex;
  gap: var(--space-4);
  list-style: none;
  margin: 0;
  padding: 0;
  flex-wrap: wrap;
  justify-content: center;
}

@media screen and (min-width: 750px) {
  .footer__bottom-nav-list {
    justify-content: flex-end;
  }
}

.footer__bottom-nav-item {
  margin: 0;
}

.footer__bottom-nav-link {
  color: var(--color-text-1);
  text-decoration: none;
  font-size: var(--text-size-main);
  opacity: 0.8;
  transition: opacity 0.3s var(--default-easing);
  opacity: 0.7;
}

.footer__bottom-nav-link:hover {
  opacity: 1;
  text-decoration: underline;
}

/*------------------------------------*\
    #Responsive Adjustments
\*------------------------------------*/

/*------------------------------------*\
    #Accessibility
\*------------------------------------*/

.visually-hidden {
  position: absolute !important;
  width: 1px !important;
  height: 1px !important;
  padding: 0 !important;
  margin: -1px !important;
  overflow: hidden !important;
  clip: rect(0, 0, 0, 0) !important;
  white-space: nowrap !important;
  border: 0 !important;
}
