/*------------------------------------*\
  #Contact Section
\*------------------------------------*/

.form-message--success {
  width: 100%;
  padding: var(--space-8);
  padding-top: var(--space-10);
  padding-bottom: var(--space-10);
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(var(--color-background-2));
  border-radius: var(--border-radius-main);
  text-align: center;
}
