/*------------------------------------*\
    #Dynamic Collection Template
\*------------------------------------*/


.dynamic-collection-grid_heading {
    margin-bottom: var(--space-8);
}


.dynamic-product-grid__product {
    align-self: center;
}

.dynamic-product-grid  {
    grid-template-columns: 1fr;
    row-gap: var(--grid-padding-large);
}


@media screen and (min-width: 768px) {
    .dynamic-product-grid  {
      grid-template-columns: repeat(3, minmax(0, 1fr));
  }
}


@media screen and (min-width: 1024px) {
    .dynamic-product-grid  {
      grid-template-columns: repeat(3, minmax(0, 1fr));
  }
}


/* .dynamic-product-grid {
    display: grid;
    grid-template-columns: 1fr;
}

@media screen and (min-width: 700px) {
    .dynamic-product-grid {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
}



@media screen and (min-width: 700px) {
    .dynamic-product-grid__image {
        flex-basis: calc(50% - 4rem);
    }

    .dynamic-product-grid__image.image--wide {
        flex-basis: 100%;
    }

    .dynamic-product-grid__product {
        flex-basis: calc(50% - 3rem);
    }

    .dynamic-product-grid__video {
        flex-basis: 100%;
    }
}


@media screen and (min-width: 940px) {
    .dynamic-product-grid__image {
        flex-basis: calc(33.3% - 5.5%);
    }

    .dynamic-product-grid__image.image--wide {
        flex-basis: calc(66.6% - 2.5%);
    }

    .dynamic-product-grid__product {
        flex-basis: calc(33.3% - 5.5%);
    }

    .dynamic-product-grid__video {
        flex-basis: calc(66.6% - 2.5%);
    }
} */



/*------------------------------------*\
    #Image Card
\*------------------------------------*/

.dynamic-product-grid__image {
    border-radius: var(--border-radius-main);
    overflow: hidden;
    align-self: baseline;
    grid-column: span 1;
}



@media screen and (min-width: 768px) {
    .dynamic-product-grid__video.col-2 {
        grid-column: span 2;
    }
}




/*------------------------------------*\
    #Video Card
\*------------------------------------*/


.dynamic-product-grid__video {
    border-radius: var(--border-radius-main);
    overflow: hidden;
    align-self: baseline;
    grid-template-columns: 1fr;
    grid-column: span 1;
}


@media screen and (min-width: 768px) {
    .dynamic-product-grid__video.col-2 {
        grid-column: span 2;
    }
}