
/*------------------------------------*\
    #Testimonials
\*------------------------------------*/

.testimonials {
  width: 100%;
  display: block;
}

.testimonials__header {
  text-align: center;
  margin-bottom: var(--space-9);
}

.testimonials__title {
  text-align: center;
}




/*------------------------------------*\
    #Testimonials Grid
\*------------------------------------*/

.testimonials__grid {}


.testimonials__grid .testimonials__item:last-child {
  margin-bottom: 0;
}


/*------------------------------------*\
    #Testimonial Items
\*------------------------------------*/

.testimonials__item {
  background: transparent;
  border: none;
  box-shadow: none;
  position: relative;
  margin-bottom: var(--space-9);
}

@media screen and (min-width: 768px) {
  .testimonials__item, 
  .testimonials__grid .testimonials__item:last-child {
    margin-bottom: var(--space-5);
  }
}

.testimonials__item:hover {
  transform: none;
  box-shadow: none;
}

.testimonials__content {
  position: relative;
  height: 100%;
  display: flex;
  text-align: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 20rem;
  margin: auto;
}




/*------------------------------------*\
    #Quote Icon
\*------------------------------------*/

.testimonials__quote-icon {
  margin-bottom: var(--space-5);
}




/*------------------------------------*\
    #Quote Content
\*------------------------------------*/

.testimonials__quote {
  margin: 0 0 var(--space-5) 0;
  font-style: normal;
  font-weight: 400;
}

.testimonials__quote p {
  margin: 0;
}

.testimonials__quote p:not(:last-child) {
  margin-bottom: var(--space-3);
}




/*------------------------------------*\
    #Author
\*------------------------------------*/

.testimonials__author {
  display: block;
  margin: 0;
  text-transform: uppercase;
  font-family: var(--primary-font-family);
}




/*------------------------------------*\
    #Empty State
\*------------------------------------*/

.testimonials__empty {
  text-align: center;
  padding: var(--space-8);
  color: white;
}

.testimonials__empty p {
  margin: 0;
  font-size: var(--font-size-base);
  color: white;
}



