<div class="">
  <div class="hae-gradient-header text-center py-40 px-40-gutters d-flex-column flex-justify-center">
    <h1 class="fs-60">
      {{ page.title }}
    </h1>
  </div>

  <div class="rte mt-40 mb-40">
    {{ page.content }}
  </div>
</div>
